/* game.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

img {
    width: 100%;
}

#wrap {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    min-width: 800px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picBox {
    width: 50%;
    padding: 15px;
}

.picWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user .picBox:hover {
    border: 2px solid red;
    cursor: pointer;
}

#user .select {
    border: 2px solid red;
}